{% extends "main.html" %}

{% block title %}
    Edit Restaurant
{% endblock %}

{% block content %}

    <div class="row banner menu">
        <div class="col-md-12 padding-none">
            <h1>Edit Restaurant</h1>
            <hr>
        </div>
    </div>

    <h3>Restaurant: {{restaurant.name}}</h3>
    <div class="row">
        <div class="col-md-12 padding-top">
            <form action="{{ url_for('editRestaurant',restaurant_id = restaurant.id)}}" method = 'POST'>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type ="text" maxlength="50" class="form-control" name="name" placeholder="{{ restaurant.name }}"><br>
                    <button type="submit" class="btn btn-success" id="submit" type="submit">
                            <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Update</button>
                            
                                <a href = "{{ url_for('showRestaurants') }}">
                                    <button class="btn btn-default delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                                    </button>
                                </a>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}