{% extends "main.html" %}

{% block title %}
    Menu Item
{% endblock %}

{% block content %}
<div class="row col-md-6 col-md-offset-3">
	 <div class="card detail-card item-info-card">
		<div class="row">
			<div class="col-md-9">
				<h2>{{item.name}}<br><small>( {{ item.restaurant.name }} )</small></h2>
			</div>
			<div class="col-md-3 text-right">
				<h4>{{ item.price }}</h4>
				<h4>( {{ item.course }} )</h4>
			</div>
		</div>
		<hr>
		<div class="row item-description">
			<p>
			{{ item.description }}
			</p>
		</div>
		{% if creator %}
		<hr>
		<div class="text-right">
			Created By:  {{ creator.email }} <img src="{{ creator.picture }}" alt="creator image" style="height: 40px;" />
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}