<html>
    <head>
        <title>Menu Items</title>
    </head>
    <body>
        <h1>Restaurant: {{restaurant.name}}</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}

            <h3>
                {% with message = messages[messages.__len__() - 1] %}
                    <strong>{{message}}</strong>
                {% endwith %}
            </h3>
        {% endif %}
        {% endwith %}

        <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id) }}"><button>Add Item</button></a><br><br>

        <a href="{{url_for('restaurantMenuJSON', restaurant_id = restaurant.id) }}"><button>JSON View</button></a>
        {% if items %}
            <ul>
                {% for item in items %}
                    <li> <strong> {{ item.name }} </strong> </li><br>
                    <strong> Price: {{ item.price }} </strong> <br>
                    <strong> Description: {{ item.description }} </strong><br>
                    <strong> Course: {{ item.course }} </strong><br>
                    <a href="{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=item.id)}}"><button>Edit</button></a>
                    <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant.id, menu_id=item.id)}}"><button>Delete</button></a>
                    <a href="{{url_for('menuItemJSON',restaurant_id = restaurant.id, menu_id=item.id)}}"><button>JSON</button></a>
                    <br><br><br>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
    </body>
</html>