{% extends "main.html" %}

{% block title %}
    Add Restaurant
{% endblock %}

{% block content %}
    <div class="row banner menu">
        <div class="col-md-12 padding-none">
            <h1>New Restaurant</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 padding-top">
            <form action="{{ url_for('newRestaurant')}}" method = 'POST'>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Item name" required>
                </div>
                <button type="submit" class="btn btn-success" id="submit" type="submit">
                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create
                </button><br><br>
            </form>

            <a href = "{{ url_for('showRestaurants') }}">
                <button class="btn btn-default delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </button>
            </a>
        </div>
    </div>
{% endblock %}

