<html>
    <head>
        <title>Restaurants</title>
    </head>
    <body>
        <p> <h1>Restaurants</h1></p>

        <p> <a href="{{url_for('showLogin')}}"><button>Login</button></a> </p>

        <p> <a href = "{{url_for('restaurantsJSON')}}"><button>JSON View</button></a> </p>
        
        {% if restaurants %}
            <ul>
                {% for restaurant in restaurants %}
                    <!-- <li> <strong> {{ restaurant.name }} </strong> </li> -->
                    <li>
                        <p><a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a></p>

                        <!-- <a href = "{{url_for('restaurantJSON',restaurant_id = restaurant.id)}}">JSON</a> -->
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if items %}
            <h3>Latest Items</h3>
            {% for item in items %}
                <ul> 
                    <h3>{{item.name}}</a><br><small>({{ item.restaurant.name }})</small>
                </ul>
            {% endfor %}
        {% endif %}
    </body>
</html>