<html>
	<body>
		<div>
			<h1>{{ restaurant.name}} ( {{ quantity }} items )</h1>
		</div>
		{% if items !=[] %}	
		<ul>
			<li>
				<h2>Appetizers</h2>
				<ol>
					{% for item in items %}
					{% if item.course == 'Appetizer' %}
					<li>	
						<h3><a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, menu_item_id=item.id)}}">{{item.name}}</a></h3>
					</li>
					{% endif %}
					{% endfor %}
				</ol>
			</li>
			<li>			
				<h2>Entrees</h2>
				<ol>
					{% for item in items %}
					{% if item.course == 'Entree' %}
						<li>
							<h3><a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, menu_item_id=item.id)}}">{{item.name}}</a></h3>
						</li>
					{% endif %}
					{% endfor %}
				</ol>
			</li>
			<li>
				<h2>Desserts</h2>
				<ol>
					{% for item in items %}
					{% if item.course == 'Dessert' %}
						<li>
							<h3><a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, menu_item_id=item.id)}}">{{item.name}}</a></h3>
						</li>
					{% endif %}
					{% endfor %}
				</ol>
			</li>
			<li>
				<h2>Beverages</h2>
				<ol>
					{% for item in items %}
					{% if item.course == 'Beverage' %}
						<li>
							<h3><a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, menu_item_id=item.id)}}">{{item.name}}</a></h3>
						</li>
					{% endif %}
					{% endfor %}
				</ol>
			</li>
		</ul>
		{% endif %}
	</body>
</html>
	