{% extends "main.html" %}

{% block content %}
    
{% include "flash.html" %}

    <div class="row">
        <div class="col-md-6"> <h2>Restaurants</h2>
            {% if restaurants %}
                <ul>
                    {% for restaurant in restaurants %}
                        <!-- <li> <strong> {{ restaurant.name }} </strong> </li> -->
                        <li>
                            {%if 'username' not in session %}
                            <p><a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a></p>
                            {% else %}
                            {% if session.user_id %}
                                <h4><a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a></h4>

                                <a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}"><button class="btn btn-info btn-sm">Edit</button></a>  
                                
                                <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}"><button class="btn btn-danger btn-sm">Delete</button></a> 
        
                                <a href = "{{url_for('restaurantJSON',restaurant_id = restaurant.id)}}"><button class="btn btn-secondary btn-sm">JSON</button></a>
                            {% endif %} 
                            {% endif %}
                        </li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
            <div class="col-md-6"> <h2>Latest Items</h2>
            {% if items %}
                {% for item in items %}
                    <ul> 
                        <!-- <h3>{{item.name}}</a><br><small>({{ item.restaurant.name }})</small> -->
                        <h4><a href = "{{url_for('showMenuItem', restaurant_id = item.restaurant_id, menu_item_id=item.id)}}">{{item.name}}</a></h4>
                        ({{ item.restaurant.name }})
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
   
{% endblock %}